/* static/css/base.css */


body {

	font-family: 'Source Sans Pro', sans-serif;
	font-size:  18px;
}

header {
	border-bottom: 1px solid #999;
	margin-bottom: 2rem;
	display: flex;
}


header h1 a{
	color: red;
	text-decoration: none;
}

.nav-left {

	margin-right: auto;
}

.nav-right {

	display: flex;
	padding-top: 2rem;
}

.article_update {
	margin-bottom: 2rem;
}

.article_update h2 {
	margin:  0.5rem 0;
}

.article_update h2 a, 
.article_update h2 a:visited {
	color: blue;
	text-decoration: none;
}

.article_update p {
	margin:  0;
	font-weight: 400;
}

.article_update h2 a:hover {
	color: red;
}

.article_update h4{
	margin:  0;
	font-weight: 200;
}
